#message{
    background-color: blue;
    border: blue;
    color: white;
    border-radius: 15px;
    height: 5vh;
    width: 100vw;

}


#icons{
    color:blue;
    margin-top: 15%;
    padding: 40px;
}

