<div class="row">
        <button id = "message"> new message </button>
      </div>
      <div id = "icons">  
            <ul>
            <i class="fa fa-caret-down" aria-hidden="true">inbox(2)</i> 
            </ul>
            <ul>
            <i class="fa fa-caret-right" aria-hidden="true">drafts</i>
          </ul>
            <ul><i class="fa fa-flag" aria-hidden="true">spam</i>    
            </ul>
            <ul><i class="fa fa-times" aria-hidden="true">trash</i>
          </ul>
          </div>