
<div class="row container-fluid" id = "container">

<!-- left-column -->
<div class ="col col-md-4 left-column" id = "left-column">

<img src = "https://i.kym-cdn.com/entries/icons/original/000/027/475/Screen_Shot_2018-10-25_at_11.02.15_AM.png" id = "pic">
<h6> Kevin Bernandino</h6>
<span> kevinbernardino@gmail.com</span>

<div class = "col col-md-8" id = "email"> 
   <app-messagebar></app-messagebar>
 </div>
</div>

<!-- right column -->

<div class="col col-md-8 right-column">
  <app-searchbar></app-searchbar>
  <div >
    <app-email-section></app-email-section>
  </div>
</div>

</div>



